<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sofos2ToDatawarehouse.Extractor.CancelTransaction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Sofos2ToDatawarehouse.Extractor.CancelTransaction.Properties.Settings>
      <setting name="DB_USERNAME" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="DB_PASSWORD" serializeAs="String">
        <value>c3VwZXJ2aXNvcg==</value>
      </setting>
      <setting name="DROPSITE_FOLDER" serializeAs="String">
        <value>D:\DatawarehouseSyncher\Dropsite</value>
      </setting>
      <setting name="MAX_FETCH_LIMIT" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="HOST" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DB_NAME" serializeAs="String">
        <value>sofos2_main</value>
      </setting>
    </Sofos2ToDatawarehouse.Extractor.CancelTransaction.Properties.Settings>
  </userSettings>

  <appSettings>
    <add key="lastIdLedgerLogSales" value="0" />
  </appSettings>
</configuration>